body{
    background-color : #ECECEC;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.flex-row{
    display : flex;
    flex-direction: row;
}
.coloumn-kanan{
    display: flex;
    /* flex: column; */
}
.card-header{
    background-color : #f8f9fc;
    height: 45px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #e3e6f0;
}
.card-header h2{
    margin : auto;
    color: #4e73df;
}
.card-kanan{/*4 tipe pressure, temp, altitude, battery*/
    background-color: white;
    width: 613px;
    height: 460px;
    border-radius: 10px;    
    margin: 20px 28px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.tri-kiri{
    width: 400px;
    height: 370px;
    margin: 10px 23px;
    border-radius: 10px;
    background-color: white;
}
.card-body{
    padding: 0px;
}
.ganti-warna{
    color: black !important;
}
.battery{
    display: flex;
    flex-direction: row;
}
.isistatus div{
    display: flex;
    justify-content: center;
}
/* #altitude{
    padding : 2px;
}
#temperature{
    padding : 2px;
}
#pressure{
    padding : 2px;
} */